<template name="postItem">
  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{getPath route='postPage' data=postData}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{getPath route='postEdit' data=postData}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{getPath route='postPage' data=postData}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>