<template name="postPage">
  {{#if isReady}}
    {{#with currentPost}}
      <div class="post-page page">
        {{> postItem}}

        <ul class="comments">
          {{#each comments}}
            {{> commentItem}}
          {{/each}}
        </ul>

        {{#if currentUser}}
          {{> commentSubmit}}
        {{else}}
          <p>Please log in to leave a comment.</p>
        {{/if}}
      </div>
    {{/with}}
  {{else}}
    {{#if isLoading}}
      {{> loading}}
    {{else}}
      {{> notFound}}
    {{/if}}
  {{/if}}
</template>